{{>partials/header}}


<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/macaco.jpg" class="d-block w-100 rogerio" alt="images/ednaldo.jpg">
    </div>
    <div class="carousel-item">
      <img src="images/ednaldo.jpg" class="d-block w-100 rogerio" alt="images/programador.jpg">
    </div>
    <div class="carousel-item">
      <img src="images/programador.jpg" class="d-block w-100 rogerio" alt="images/macaco.jpg">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Todos os animais</span>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="/search">
      <input type="search" class="form-control form-control-dark" name="q" placeholder="Procurando algo?" value= "{{query}}">
    </form>
  </div>
</nav>


<div class="d-flex justify-content-center p-4"> 
    <div class="row d-flex gap-4 d-flex justify-content-evenly">
        {{#list}}
        <div class="col-2 card" >
            <img src="images/{{image}}">
            <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Cor - {{color}}</p>
            <p class="card-text">Genero - {{sex}}</p>
            </div>
        </div>
        {{/list}}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

{{^list}}
<div class="container no-list">
    <h2> Não foi encontrado nenhum resultado</h2>
</div>
{{/list}}
{{>partials/footer}}